@charset "utf-8";
/* CSS Document */
* {
	margin:0;
	padding:0;
}

@font-face {
	font-family:sheep;
	src:url('../fonts/sheep_sans-webfont.eot');
	src:local('☺'), 
	     url('../fonts/sheep_sans-webfont.woff') format("woff"), 
		 url('../fonts/sheep_sans-webfont.ttf') format("truetype");
}

body {
	font-family: "sheep", sans-serif;
	font-size: 1em;
	line-height: 1.5em;
	font-weight: normal;
	color: #333;
	background:#FFF url(../images/wrap_line.gif) repeat-y center center ;
}

img {border: none;}
.clear {clear:both;}

#wrap {
	width:900px; 
	margin:0 auto; 
	text-align:left;
	 
}

header {
	background-image: url(../images/back_img1.jpg); /* 이미지 URL 설정 */
	background-repeat: no-repeat; /* 반복 하지 않음 */
	background-position: right top; /* 백그라운드의 위치가 오른쪽 상단 */
	height:108px; /* 헤더의 높이 조정 */
	margin:0; /* 마진 0 */
	padding:0; /* 패딩 0 */
}

header #logo {
	padding:26px 0 20px 28px; /* 로고의 정확한 위치 선정 */
	width:240px;	/* 로고를 감싸고 있는 #logo 크기 */
}


nav {
	height:50px; /* 메뉴 높이 지정 */
	width:100%; /* 가로 사이즈 100% */
	background-color:#3366ff; /* 백그라운드 색상 지정 */
	background-image: url(../images/menu_back.png); /* 그림자 효과를 위한 배경 이미지 설정 */
	background-repeat: repeat-x; /* 배경이미지를 X 축으로 반복 */
	background-position: top;  /* 배경이미지의 위치 지정 */
	margin:0;
	padding:0;
	z-index:2;/*  ie6 dropdown 메뉴 해결 방법 */
}

nav ul#dropdown {
	padding:15px 0 0 15px ; /* 메뉴 위치 잡아 줌 */		
}

nav ul#dropdown li {
	float:left; /* 메뉴 정렬을 왼쪽에서 오른쪽으로 */
	margin:0;	/* 마진 값 설정 */ 
	list-style:none; 	 /* 리스트 앞부분 * 생기는 것 방지 */
}

nav ul#dropdown li a {
	color:#FFF; /* 색상 지정 */
	padding:0 15px; /* 패딩으로 각 메뉴 사이 간격 조정 */
	text-transform: uppercase; /* 메뉴 글자 대문자 */
	text-decoration: none; /* 링크의 밑줄 없앰 */
	background-image: url(../images/menu_line.png); /*  구분선에 백그라운드 이미지로 처리 */
	background-repeat: no-repeat; /* 백그라운드 이미지 반복 방지 */
	background-position: right center;  /* 백그라운드의 이미지 위치 지정 */
	display: block;
}

nav ul#dropdown li a:hover {
	color:#FFCC00; /* 메뉴에 마우스 오버시 색상 변경 */
	text-shadow: 2px 2px 3px #000;	/* 마우스 오버시 텍스트에 그림자 효과 */
}


nav ul#dropdown li ul	{	
	margin:10px 0 0 0;
	padding: 0;
	list-style:none;
	position: absolute; 
	visibility: hidden; 
	z-index:100; 
}
		
nav ul#dropdown li ul li {	
	float: none;
	display:inline;		
}

		
nav ul#dropdown li ul li a {
	width:auto;
	padding:7px 30px 7px 15px;
	background: #3366ff;
	font-size:0.9em;
	text-transform: capitalize;
}

nav ul#dropdown li ul li a.r_corner {
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}

		
nav ul#dropdown li ul li a:hover {	
	background: #0099ff;
}


/* 프론트 페이지 */

article#front {
	margin:0;
	padding:0;
	float:none;
	width:900px; 
}

article#front #slide {
	margin:0;
	padding:0;
}
article#front #welcome {
	padding:20px 10px 10px 10px; /* 패딩을 이용하여 위치를 잡아 줌 */
}
article#front #welcome h1 {
	font-family: "Times New Roman", Times, serif; /* 폰트 지정 */
	color: #6cc7dc; /* 폰트 색상 */
	font-weight: lighter; /* 폰트의 굵기 지정 */
	font-size: 44px; /* 폰트 크기 지정 */
}
article#front #welcome h3 {
	padding:25px 0; /* 패딩 값으로 위치 지정 */
	font-size:18px; /*  폰트 크기 지정 */
	color:#666; /* 폰트 색상 지정 */
	font-weight: lighter; /*  폰트 굵기 지정 */
}

article#front #front_box {
	float:left; /* front_box 왼쪽 정렬 */
	width:260px; /* 크기 조절 */
	padding:0 19px; /* 패딩으로 적당한 간격 조절 */
	border-right:1px solid #CCC; /* 중간 부분 선 처리 */
}
article#front #front_box.box1 {
	border-right:none;
}

article#front #front_box h3 {
	font-size:17px; /* 폰트 사이즈 지정 */
	color:#3399ff; /* 색상 지정 */
	font-weight:normal; /* 폰트 두께 지정 */
	padding-bottom:10px; /* p와 h3의 간격 조절 */
}

article#front #front_box img {
	float:left; /*이미지는 왼쪽으로 */
}
article#front #front_box p {
	font-size:12px; /* 글꼴 크기 조절 */
	line-height:16px; /* 자간 조절 */
	float:right; /* 텍스트는 오른쪽으로 */
	width:170px;
}

footer {
	margin-top:70px; /* 상단 레이어와 간격 조절 */
	padding:0 20px; /*  패딩을 이용해 내부 컨텐츠 왼쪽, 오른쪽 안으로 20픽셀씩 조절 */
}

footer p {
	font-size:11px; /* 글꼴 사이즈 조절 */
	line-height:14px; /* 자간 조절 */
	float:left;	/* 배열된 위치는 왼쪽으로 */
}

footer #sns {
	float:right; /* sns 아이콘은 오른쪽으로 배치 */
}

footer #sns img {
	padding:0 5px; /* 아이콘과 아이콘 사이 간격 조절 */
}



/* 서브 페이지 디자인 */
#main_pic {
	margin:0;
	padding:0;
	background-image: url(../images/aboutus_back.jpg);
	background-repeat: no-repeat;
	width:900px;
	height:144px;	
}

#main_pic h1 {
	float:right;
	padding:113px 10px 0 0 ;
	color:rgba(255,255,255,0.5);
	font-size: 60px;
	text-transform: uppercase;
	font-family:sheep;
	font-weight: normal;
}

aside {
	float:left;
	width:160px;
	height:300px;
	margin:10px 0 0 0;	
	background-repeat: no-repeat;
	background-position: right top;	
	background-image: url(../images/submenu_vline.png);	
}

aside nav {
	background-color:transparent;
	background-image:none;
}

aside nav ul {
	list-style:none;
	padding:0 0 0 30px;
}

aside nav ul li {
	line-height:3em;
	/*line-height:3em !important;
	line-height:1.5em;	*/
}

aside nav ul li a {
	color: #666;
	text-decoration: none;
	text-transform: capitalize;
	display:block;	
}

aside nav ul li a:hover {
	color: #F90;
	text-decoration: underline;
}

article {
	float:right;
	width:670px;
	padding:10px 20px;
	font-size:0.75em;	
} 

article h2 {
	font-size:3.2em;
	margin:20px 0 ;
	font-weight: normal;
	text-transform: capitalize;
}

article figure {
	float:left;
	margin:10px 20px 10px 0;
	padding:0;
}
article figure img {
	border:1px solid #FFF;
	box-shadow:3px 3px 15px #666;
}
article figure figcaption {
	text-align:center;
}

article p {
	margin:0 0 15px 0;
}

article figure+p:first-letter {
	float:left;
	margin:12px 5px 0 0;
	font-size:3.5em;
	color: #36F;
} 

